* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.App {
  font-family: 'Poppins', sans-serif;
}

.ant-table-container table > thead > tr th {
  background-color: #009879;
  color: #ffffff;
}

.ant-layout-content {
  position: relative;
}

.loading {
  width: 100%;
  height: 280px;
  padding-left: 35%;
  line-height: 280px;
  position: fixed;
  z-index: 99;
  font-size: 30px;
}

.ant-select-dropdown {
  width: 600px !important;
}
